ol.lst-kix_4r4kwz9nmkc9-4.start {
            counter-reset: lst-ctn-kix_4r4kwz9nmkc9-4 0
        }
        
        ol.lst-kix_rymbdftmupa9-0 {
            list-style-type: none
        }
        
        ol.lst-kix_ukewq6o6x8b9-5.start {
            counter-reset: lst-ctn-kix_ukewq6o6x8b9-5 0
        }
        
        ol.lst-kix_lpxp8iazmevr-0.start {
            counter-reset: lst-ctn-kix_lpxp8iazmevr-0 0
        }
        
        .lst-kix_ukewq6o6x8b9-4>li:before {
            content: "" counter(lst-ctn-kix_ukewq6o6x8b9-4, lower-latin) ". "
        }
        
        .lst-kix_ukewq6o6x8b9-6>li:before {
            content: "" counter(lst-ctn-kix_ukewq6o6x8b9-6, decimal) ". "
        }
        
        ol.lst-kix_rymbdftmupa9-3 {
            list-style-type: none
        }
        
        ol.lst-kix_rymbdftmupa9-4 {
            list-style-type: none
        }
        
        ol.lst-kix_rymbdftmupa9-1 {
            list-style-type: none
        }
        
        ol.lst-kix_rymbdftmupa9-2 {
            list-style-type: none
        }
        
        .lst-kix_ukewq6o6x8b9-3>li:before {
            content: "" counter(lst-ctn-kix_ukewq6o6x8b9-3, decimal) ". "
        }
        
        .lst-kix_ukewq6o6x8b9-7>li:before {
            content: "" counter(lst-ctn-kix_ukewq6o6x8b9-7, lower-latin) ". "
        }
        
        ol.lst-kix_4r4kwz9nmkc9-1 {
            list-style-type: none
        }
        
        ol.lst-kix_rymbdftmupa9-7 {
            list-style-type: none
        }
        
        ol.lst-kix_4r4kwz9nmkc9-0 {
            list-style-type: none
        }
        
        ol.lst-kix_rymbdftmupa9-8 {
            list-style-type: none
        }
        
        ol.lst-kix_rymbdftmupa9-5 {
            list-style-type: none
        }
        
        ol.lst-kix_rymbdftmupa9-6 {
            list-style-type: none
        }
        
        .lst-kix_ukewq6o6x8b9-0>li:before {
            content: "" counter(lst-ctn-kix_ukewq6o6x8b9-0, decimal) ". "
        }
        
        .lst-kix_ukewq6o6x8b9-2>li:before {
            content: "" counter(lst-ctn-kix_ukewq6o6x8b9-2, lower-roman) ". "
        }
        
        .lst-kix_ukewq6o6x8b9-8>li:before {
            content: "" counter(lst-ctn-kix_ukewq6o6x8b9-8, lower-roman) ". "
        }
        
        ol.lst-kix_4r4kwz9nmkc9-5 {
            list-style-type: none
        }
        
        .lst-kix_lpxp8iazmevr-2>li {
            counter-increment: lst-ctn-kix_lpxp8iazmevr-2
        }
        
        ol.lst-kix_4r4kwz9nmkc9-4 {
            list-style-type: none
        }
        
        ol.lst-kix_4r4kwz9nmkc9-3 {
            list-style-type: none
        }
        
        ol.lst-kix_rymbdftmupa9-2.start {
            counter-reset: lst-ctn-kix_rymbdftmupa9-2 0
        }
        
        ol.lst-kix_4r4kwz9nmkc9-2 {
            list-style-type: none
        }
        
        .lst-kix_4r4kwz9nmkc9-3>li {
            counter-increment: lst-ctn-kix_4r4kwz9nmkc9-3
        }
        
        .lst-kix_ukewq6o6x8b9-1>li:before {
            content: "" counter(lst-ctn-kix_ukewq6o6x8b9-1, lower-latin) ". "
        }
        
        ol.lst-kix_4r4kwz9nmkc9-7.start {
            counter-reset: lst-ctn-kix_4r4kwz9nmkc9-7 0
        }
        
        .lst-kix_rymbdftmupa9-0>li {
            counter-increment: lst-ctn-kix_rymbdftmupa9-0
        }
        
        ol.lst-kix_rymbdftmupa9-5.start {
            counter-reset: lst-ctn-kix_rymbdftmupa9-5 0
        }
        
        .lst-kix_br6yipagr5vz-8>li {
            counter-increment: lst-ctn-kix_br6yipagr5vz-8
        }
        
        .lst-kix_ukewq6o6x8b9-6>li {
            counter-increment: lst-ctn-kix_ukewq6o6x8b9-6
        }
        
        .lst-kix_lpxp8iazmevr-3>li {
            counter-increment: lst-ctn-kix_lpxp8iazmevr-3
        }
        
        .lst-kix_4r4kwz9nmkc9-4>li {
            counter-increment: lst-ctn-kix_4r4kwz9nmkc9-4
        }
        
        .lst-kix_rymbdftmupa9-7>li:before {
            content: "" counter(lst-ctn-kix_rymbdftmupa9-7, lower-latin) ". "
        }
        
        ol.lst-kix_rymbdftmupa9-8.start {
            counter-reset: lst-ctn-kix_rymbdftmupa9-8 0
        }
        
        .lst-kix_ukewq6o6x8b9-5>li {
            counter-increment: lst-ctn-kix_ukewq6o6x8b9-5
        }
        
        ol.lst-kix_br6yipagr5vz-0.start {
            counter-reset: lst-ctn-kix_br6yipagr5vz-0 0
        }
        
        .lst-kix_4r4kwz9nmkc9-1>li {
            counter-increment: lst-ctn-kix_4r4kwz9nmkc9-1
        }
        
        .lst-kix_rymbdftmupa9-8>li:before {
            content: "" counter(lst-ctn-kix_rymbdftmupa9-8, lower-roman) ". "
        }
        
        .lst-kix_br6yipagr5vz-7>li {
            counter-increment: lst-ctn-kix_br6yipagr5vz-7
        }
        
        ol.lst-kix_4r4kwz9nmkc9-1.start {
            counter-reset: lst-ctn-kix_4r4kwz9nmkc9-1 0
        }
        
        .lst-kix_ukewq6o6x8b9-8>li {
            counter-increment: lst-ctn-kix_ukewq6o6x8b9-8
        }
        
        ol.lst-kix_4r4kwz9nmkc9-8 {
            list-style-type: none
        }
        
        ol.lst-kix_4r4kwz9nmkc9-7 {
            list-style-type: none
        }
        
        ol.lst-kix_4r4kwz9nmkc9-6 {
            list-style-type: none
        }
        
        ol.lst-kix_br6yipagr5vz-3.start {
            counter-reset: lst-ctn-kix_br6yipagr5vz-3 0
        }
        
        ol.lst-kix_lpxp8iazmevr-8.start {
            counter-reset: lst-ctn-kix_lpxp8iazmevr-8 0
        }
        
        .lst-kix_rymbdftmupa9-1>li {
            counter-increment: lst-ctn-kix_rymbdftmupa9-1
        }
        
        .lst-kix_ukewq6o6x8b9-5>li:before {
            content: "" counter(lst-ctn-kix_ukewq6o6x8b9-5, lower-roman) ". "
        }
        
        .lst-kix_4r4kwz9nmkc9-0>li {
            counter-increment: lst-ctn-kix_4r4kwz9nmkc9-0
        }
        
        ol.lst-kix_ukewq6o6x8b9-0.start {
            counter-reset: lst-ctn-kix_ukewq6o6x8b9-0 0
        }
        
        ol.lst-kix_rymbdftmupa9-7.start {
            counter-reset: lst-ctn-kix_rymbdftmupa9-7 0
        }
        
        .lst-kix_lpxp8iazmevr-5>li {
            counter-increment: lst-ctn-kix_lpxp8iazmevr-5
        }
        
        .lst-kix_4r4kwz9nmkc9-6>li {
            counter-increment: lst-ctn-kix_4r4kwz9nmkc9-6
        }
        
        ol.lst-kix_br6yipagr5vz-6.start {
            counter-reset: lst-ctn-kix_br6yipagr5vz-6 0
        }
        
        .lst-kix_br6yipagr5vz-5>li {
            counter-increment: lst-ctn-kix_br6yipagr5vz-5
        }
        
        ol.lst-kix_4r4kwz9nmkc9-2.start {
            counter-reset: lst-ctn-kix_4r4kwz9nmkc9-2 0
        }
        
        ol.lst-kix_br6yipagr5vz-8 {
            list-style-type: none
        }
        
        .lst-kix_lpxp8iazmevr-0>li {
            counter-increment: lst-ctn-kix_lpxp8iazmevr-0
        }
        
        ol.lst-kix_lpxp8iazmevr-2.start {
            counter-reset: lst-ctn-kix_lpxp8iazmevr-2 0
        }
        
        ol.lst-kix_br6yipagr5vz-6 {
            list-style-type: none
        }
        
        ol.lst-kix_br6yipagr5vz-7 {
            list-style-type: none
        }
        
        ol.lst-kix_br6yipagr5vz-4 {
            list-style-type: none
        }
        
        ol.lst-kix_ukewq6o6x8b9-6.start {
            counter-reset: lst-ctn-kix_ukewq6o6x8b9-6 0
        }
        
        .lst-kix_br6yipagr5vz-1>li {
            counter-increment: lst-ctn-kix_br6yipagr5vz-1
        }
        
        ol.lst-kix_br6yipagr5vz-5 {
            list-style-type: none
        }
        
        ol.lst-kix_rymbdftmupa9-0.start {
            counter-reset: lst-ctn-kix_rymbdftmupa9-0 0
        }
        
        .lst-kix_lpxp8iazmevr-6>li {
            counter-increment: lst-ctn-kix_lpxp8iazmevr-6
        }
        
        ol.lst-kix_br6yipagr5vz-2 {
            list-style-type: none
        }
        
        ol.lst-kix_br6yipagr5vz-3 {
            list-style-type: none
        }
        
        .lst-kix_rymbdftmupa9-6>li:before {
            content: "" counter(lst-ctn-kix_rymbdftmupa9-6, decimal) ". "
        }
        
        ol.lst-kix_br6yipagr5vz-0 {
            list-style-type: none
        }
        
        .lst-kix_4r4kwz9nmkc9-7>li {
            counter-increment: lst-ctn-kix_4r4kwz9nmkc9-7
        }
        
        ol.lst-kix_br6yipagr5vz-1 {
            list-style-type: none
        }
        
        .lst-kix_rymbdftmupa9-8>li {
            counter-increment: lst-ctn-kix_rymbdftmupa9-8
        }
        
        .lst-kix_rymbdftmupa9-5>li:before {
            content: "(" counter(lst-ctn-kix_rymbdftmupa9-5, lower-roman) ") "
        }
        
        .lst-kix_rymbdftmupa9-2>li {
            counter-increment: lst-ctn-kix_rymbdftmupa9-2
        }
        
        .lst-kix_rymbdftmupa9-4>li:before {
            content: "(" counter(lst-ctn-kix_rymbdftmupa9-4, lower-latin) ") "
        }
        
        .lst-kix_rymbdftmupa9-3>li:before {
            content: "(" counter(lst-ctn-kix_rymbdftmupa9-3, decimal) ") "
        }
        
        .lst-kix_rymbdftmupa9-5>li {
            counter-increment: lst-ctn-kix_rymbdftmupa9-5
        }
        
        ol.lst-kix_rymbdftmupa9-6.start {
            counter-reset: lst-ctn-kix_rymbdftmupa9-6 0
        }
        
        .lst-kix_rymbdftmupa9-2>li:before {
            content: "" counter(lst-ctn-kix_rymbdftmupa9-2, lower-roman) ") "
        }
        
        ol.lst-kix_lpxp8iazmevr-3.start {
            counter-reset: lst-ctn-kix_lpxp8iazmevr-3 0
        }
        
        .lst-kix_ukewq6o6x8b9-7>li {
            counter-increment: lst-ctn-kix_ukewq6o6x8b9-7
        }
        
        .lst-kix_rymbdftmupa9-1>li:before {
            content: "" counter(lst-ctn-kix_rymbdftmupa9-1, lower-latin) ") "
        }
        
        .lst-kix_rymbdftmupa9-0>li:before {
            content: "" counter(lst-ctn-kix_rymbdftmupa9-0, upper-latin) ") "
        }
        
        ol.lst-kix_br6yipagr5vz-5.start {
            counter-reset: lst-ctn-kix_br6yipagr5vz-5 0
        }
        
        .lst-kix_ukewq6o6x8b9-1>li {
            counter-increment: lst-ctn-kix_ukewq6o6x8b9-1
        }
        
        .lst-kix_ukewq6o6x8b9-4>li {
            counter-increment: lst-ctn-kix_ukewq6o6x8b9-4
        }
        
        ol.lst-kix_4r4kwz9nmkc9-3.start {
            counter-reset: lst-ctn-kix_4r4kwz9nmkc9-3 0
        }
        
        ol.lst-kix_br6yipagr5vz-1.start {
            counter-reset: lst-ctn-kix_br6yipagr5vz-1 0
        }
        
        .lst-kix_ukewq6o6x8b9-0>li {
            counter-increment: lst-ctn-kix_ukewq6o6x8b9-0
        }
        
        ol.lst-kix_br6yipagr5vz-4.start {
            counter-reset: lst-ctn-kix_br6yipagr5vz-4 0
        }
        
        .lst-kix_rymbdftmupa9-6>li {
            counter-increment: lst-ctn-kix_rymbdftmupa9-6
        }
        
        ol.lst-kix_lpxp8iazmevr-4.start {
            counter-reset: lst-ctn-kix_lpxp8iazmevr-4 0
        }
        
        ol.lst-kix_ukewq6o6x8b9-1.start {
            counter-reset: lst-ctn-kix_ukewq6o6x8b9-1 0
        }
        
        ol.lst-kix_lpxp8iazmevr-7.start {
            counter-reset: lst-ctn-kix_lpxp8iazmevr-7 0
        }
        
        .lst-kix_ukewq6o6x8b9-2>li {
            counter-increment: lst-ctn-kix_ukewq6o6x8b9-2
        }
        
        ol.lst-kix_lpxp8iazmevr-1.start {
            counter-reset: lst-ctn-kix_lpxp8iazmevr-1 0
        }
        
        ol.lst-kix_ukewq6o6x8b9-4.start {
            counter-reset: lst-ctn-kix_ukewq6o6x8b9-4 0
        }
        
        .lst-kix_br6yipagr5vz-4>li {
            counter-increment: lst-ctn-kix_br6yipagr5vz-4
        }
        
        ol.lst-kix_br6yipagr5vz-7.start {
            counter-reset: lst-ctn-kix_br6yipagr5vz-7 0
        }
        
        ol.lst-kix_rymbdftmupa9-1.start {
            counter-reset: lst-ctn-kix_rymbdftmupa9-1 0
        }
        
        ol.lst-kix_4r4kwz9nmkc9-5.start {
            counter-reset: lst-ctn-kix_4r4kwz9nmkc9-5 0
        }
        
        .lst-kix_br6yipagr5vz-2>li {
            counter-increment: lst-ctn-kix_br6yipagr5vz-2
        }
        
        ol.lst-kix_ukewq6o6x8b9-7.start {
            counter-reset: lst-ctn-kix_ukewq6o6x8b9-7 0
        }
        
        .lst-kix_rymbdftmupa9-7>li {
            counter-increment: lst-ctn-kix_rymbdftmupa9-7
        }
        
        .lst-kix_rymbdftmupa9-4>li {
            counter-increment: lst-ctn-kix_rymbdftmupa9-4
        }
        
        .lst-kix_lpxp8iazmevr-8>li {
            counter-increment: lst-ctn-kix_lpxp8iazmevr-8
        }
        
        ol.lst-kix_4r4kwz9nmkc9-8.start {
            counter-reset: lst-ctn-kix_4r4kwz9nmkc9-8 0
        }
        
        ol.lst-kix_rymbdftmupa9-4.start {
            counter-reset: lst-ctn-kix_rymbdftmupa9-4 0
        }
        
        .lst-kix_br6yipagr5vz-6>li:before {
            content: "" counter(lst-ctn-kix_br6yipagr5vz-6, decimal) ". "
        }
        
        .lst-kix_br6yipagr5vz-7>li:before {
            content: "" counter(lst-ctn-kix_br6yipagr5vz-7, lower-latin) ". "
        }
        
        .lst-kix_br6yipagr5vz-5>li:before {
            content: "(" counter(lst-ctn-kix_br6yipagr5vz-5, lower-roman) ") "
        }
        
        .lst-kix_4r4kwz9nmkc9-6>li:before {
            content: "" counter(lst-ctn-kix_4r4kwz9nmkc9-6, decimal) ". "
        }
        
        .lst-kix_br6yipagr5vz-0>li {
            counter-increment: lst-ctn-kix_br6yipagr5vz-0
        }
        
        ol.lst-kix_lpxp8iazmevr-5.start {
            counter-reset: lst-ctn-kix_lpxp8iazmevr-5 0
        }
        
        ol.lst-kix_ukewq6o6x8b9-3.start {
            counter-reset: lst-ctn-kix_ukewq6o6x8b9-3 0
        }
        
        .lst-kix_br6yipagr5vz-2>li:before {
            content: "" counter(lst-ctn-kix_br6yipagr5vz-2, lower-roman) ") "
        }
        
        .lst-kix_br6yipagr5vz-3>li:before {
            content: "(" counter(lst-ctn-kix_br6yipagr5vz-3, decimal) ") "
        }
        
        .lst-kix_ukewq6o6x8b9-3>li {
            counter-increment: lst-ctn-kix_ukewq6o6x8b9-3
        }
        
        ol.lst-kix_4r4kwz9nmkc9-6.start {
            counter-reset: lst-ctn-kix_4r4kwz9nmkc9-6 0
        }
        
        .lst-kix_4r4kwz9nmkc9-7>li:before {
            content: "" counter(lst-ctn-kix_4r4kwz9nmkc9-7, lower-latin) ". "
        }
        
        .lst-kix_br6yipagr5vz-4>li:before {
            content: "(" counter(lst-ctn-kix_br6yipagr5vz-4, lower-latin) ") "
        }
        
        .lst-kix_4r4kwz9nmkc9-8>li:before {
            content: "" counter(lst-ctn-kix_4r4kwz9nmkc9-8, lower-roman) ". "
        }
        
        .lst-kix_lpxp8iazmevr-5>li:before {
            content: "" counter(lst-ctn-kix_lpxp8iazmevr-5, lower-roman) ". "
        }
        
        ol.lst-kix_lpxp8iazmevr-6 {
            list-style-type: none
        }
        
        .lst-kix_rymbdftmupa9-3>li {
            counter-increment: lst-ctn-kix_rymbdftmupa9-3
        }
        
        ol.lst-kix_lpxp8iazmevr-5 {
            list-style-type: none
        }
        
        ol.lst-kix_lpxp8iazmevr-8 {
            list-style-type: none
        }
        
        .lst-kix_4r4kwz9nmkc9-1>li:before {
            content: "" counter(lst-ctn-kix_4r4kwz9nmkc9-1, lower-latin) ") "
        }
        
        .lst-kix_4r4kwz9nmkc9-3>li:before {
            content: "(" counter(lst-ctn-kix_4r4kwz9nmkc9-3, decimal) ") "
        }
        
        ol.lst-kix_lpxp8iazmevr-7 {
            list-style-type: none
        }
        
        .lst-kix_lpxp8iazmevr-6>li:before {
            content: "" counter(lst-ctn-kix_lpxp8iazmevr-6, decimal) ". "
        }
        
        .lst-kix_br6yipagr5vz-1>li:before {
            content: "" counter(lst-ctn-kix_br6yipagr5vz-1, lower-latin) ") "
        }
        
        .lst-kix_lpxp8iazmevr-7>li:before {
            content: "" counter(lst-ctn-kix_lpxp8iazmevr-7, lower-latin) ". "
        }
        
        .lst-kix_4r4kwz9nmkc9-2>li:before {
            content: "" counter(lst-ctn-kix_4r4kwz9nmkc9-2, lower-roman) ") "
        }
        
        .lst-kix_lpxp8iazmevr-8>li:before {
            content: "" counter(lst-ctn-kix_lpxp8iazmevr-8, lower-roman) ". "
        }
        
        ol.lst-kix_lpxp8iazmevr-0 {
            list-style-type: none
        }
        
        .lst-kix_4r4kwz9nmkc9-5>li:before {
            content: "(" counter(lst-ctn-kix_4r4kwz9nmkc9-5, lower-roman) ") "
        }
        
        ol.lst-kix_lpxp8iazmevr-2 {
            list-style-type: none
        }
        
        ol.lst-kix_lpxp8iazmevr-1 {
            list-style-type: none
        }
        
        .lst-kix_br6yipagr5vz-0>li:before {
            content: "" counter(lst-ctn-kix_br6yipagr5vz-0, upper-latin) ") "
        }
        
        ol.lst-kix_lpxp8iazmevr-4 {
            list-style-type: none
        }
        
        .lst-kix_4r4kwz9nmkc9-4>li:before {
            content: "(" counter(lst-ctn-kix_4r4kwz9nmkc9-4, lower-latin) ") "
        }
        
        ol.lst-kix_lpxp8iazmevr-3 {
            list-style-type: none
        }
        
        .lst-kix_lpxp8iazmevr-4>li {
            counter-increment: lst-ctn-kix_lpxp8iazmevr-4
        }
        
        .lst-kix_lpxp8iazmevr-7>li {
            counter-increment: lst-ctn-kix_lpxp8iazmevr-7
        }
        
        .lst-kix_lpxp8iazmevr-1>li {
            counter-increment: lst-ctn-kix_lpxp8iazmevr-1
        }
        
        ol.lst-kix_rymbdftmupa9-3.start {
            counter-reset: lst-ctn-kix_rymbdftmupa9-3 0
        }
        
        ol.lst-kix_lpxp8iazmevr-6.start {
            counter-reset: lst-ctn-kix_lpxp8iazmevr-6 0
        }
        
        ol.lst-kix_br6yipagr5vz-2.start {
            counter-reset: lst-ctn-kix_br6yipagr5vz-2 0
        }
        
        .lst-kix_4r4kwz9nmkc9-0>li:before {
            content: "" counter(lst-ctn-kix_4r4kwz9nmkc9-0, upper-latin) ") "
        }
        
        .lst-kix_4r4kwz9nmkc9-2>li {
            counter-increment: lst-ctn-kix_4r4kwz9nmkc9-2
        }
        
        ol.lst-kix_ukewq6o6x8b9-6 {
            list-style-type: none
        }
        
        .lst-kix_lpxp8iazmevr-4>li:before {
            content: "" counter(lst-ctn-kix_lpxp8iazmevr-4, lower-latin) ". "
        }
        
        ol.lst-kix_ukewq6o6x8b9-7 {
            list-style-type: none
        }
        
        ol.lst-kix_ukewq6o6x8b9-8.start {
            counter-reset: lst-ctn-kix_ukewq6o6x8b9-8 0
        }
        
        ol.lst-kix_ukewq6o6x8b9-4 {
            list-style-type: none
        }
        
        .lst-kix_4r4kwz9nmkc9-8>li {
            counter-increment: lst-ctn-kix_4r4kwz9nmkc9-8
        }
        
        ol.lst-kix_ukewq6o6x8b9-5 {
            list-style-type: none
        }
        
        .lst-kix_lpxp8iazmevr-2>li:before {
            content: "" counter(lst-ctn-kix_lpxp8iazmevr-2, lower-roman) ". "
        }
        
        ol.lst-kix_ukewq6o6x8b9-2.start {
            counter-reset: lst-ctn-kix_ukewq6o6x8b9-2 0
        }
        
        ol.lst-kix_ukewq6o6x8b9-8 {
            list-style-type: none
        }
        
        .lst-kix_lpxp8iazmevr-3>li:before {
            content: "" counter(lst-ctn-kix_lpxp8iazmevr-3, decimal) ". "
        }
        
        ol.lst-kix_4r4kwz9nmkc9-0.start {
            counter-reset: lst-ctn-kix_4r4kwz9nmkc9-0 0
        }
        
        .lst-kix_4r4kwz9nmkc9-5>li {
            counter-increment: lst-ctn-kix_4r4kwz9nmkc9-5
        }
        
        .lst-kix_lpxp8iazmevr-0>li:before {
            content: "" counter(lst-ctn-kix_lpxp8iazmevr-0, upper-latin) ". "
        }
        
        .lst-kix_br6yipagr5vz-3>li {
            counter-increment: lst-ctn-kix_br6yipagr5vz-3
        }
        
        ol.lst-kix_ukewq6o6x8b9-2 {
            list-style-type: none
        }
        
        ol.lst-kix_ukewq6o6x8b9-3 {
            list-style-type: none
        }
        
        .lst-kix_br6yipagr5vz-8>li:before {
            content: "" counter(lst-ctn-kix_br6yipagr5vz-8, lower-roman) ". "
        }
        
        ol.lst-kix_ukewq6o6x8b9-0 {
            list-style-type: none
        }
        
        .lst-kix_lpxp8iazmevr-1>li:before {
            content: "" counter(lst-ctn-kix_lpxp8iazmevr-1, lower-latin) ". "
        }
        
        .lst-kix_br6yipagr5vz-6>li {
            counter-increment: lst-ctn-kix_br6yipagr5vz-6
        }
        
        ol.lst-kix_br6yipagr5vz-8.start {
            counter-reset: lst-ctn-kix_br6yipagr5vz-8 0
        }
        
        ol.lst-kix_ukewq6o6x8b9-1 {
            list-style-type: none
        }
        
        ol {
            margin: 0;
            padding: 0
        }
        
        table td,
        table th {
            padding: 0
        }
        
        .c12 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 225.7pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .c4 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 75.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .c21 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 451.4pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .c6 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 150.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }
        
        .c17 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }
        
        .c7 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }
        
        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: "Arial";
            font-style: normal
        }
        
        .c14 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }
        
        .c11 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }
        
        .c8 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: "Arial";
            font-style: normal
        }
        
        .c18 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify;
            height: 11pt
        }
        
        .c3 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }
        
        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: center
        }
        
        .c24 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }
        
        .c5 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: justify
        }
        
        .c0 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }
        
        .c13 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left
        }
        
        .c16 {
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }
        
        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }
        
        .c26 {
            margin-left: 150pt ;
            background-color: #ffffff;
            max-width: 451.4pt;
            padding: 42.5pt 82pt 72pt 62pt
        }
        
        .c15 {
            font-size: 9pt;
            font-weight: 700
        }
        
        .c27 {
            margin-left: 36pt;
            padding-left: 0pt
        }
        
        .c23 {
            padding: 0;
            margin: 0
        }
        
        .c19 {
            height: 11pt
        }
        
        .c20 {
            height: 39pt
        }
        
        .c25 {
            height: 35pt
        }
        
        .c22 {
            height: 0pt
        }
        
        .c9 {
            height: 22pt
        }
        
        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        
        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        
        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .g34{
            margin-left: 80pt;
            margin-top: 40pt;
        }

        .inputText{
            border: #ffffff;
            width: 200.7pt;
        }

